.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
  
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    position: relative;
    display: inline-block;
}

figure img {
    width: 300px;
    height: 200px;
}
  
textoverlay {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 30px;
    z-index: 2;
    display: inline-block;
    background: none;
    padding: 0;
    font-weight: bold;
}